.inline-style{
    display: flex;
    align-items: center;
}

.interface-main{
    width:100%;
    margin: auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.interface-mainbar{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 120px;
}

.favorite{
    position: absolute;
    right: 0;
    top :5px;
}

.product-img{
    width:218px;
    height:294px;
    margin-left:20px;
    display:block;

}

.image{
    width: 350px;
    height: 350px;
    text-align: center;
}

.product-detail{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-right: 65px; 
}

